/build/
/build-*/
/out/

.vscode/
.idea/
.vs/
*.user
*.user.*
CMakeUserPresets.json

.DS_Store
Thumbs.db

.qtcreator*
.workbuddy
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.cache/
compile_commands.json